extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg put your new password
            form.form.form--login
                .form__group
                    label.form__label(for='password') New password
                    input#rest_password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfrim') New Password confirm
                    input#reset_password_confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button#reset_password_btn.btn.btn--green(data-token=`${token}`) confirm